snippet rcc "Import and export React components" b
import React, { Component } from 'react'

export default class ${1} extends Component {
    render (){
        return (
            <div>

            </div>
        )
    }
}
endsnippet
